@inherits Umbraco.Web.Mvc.UmbracoViewPage<Contact>

@using ClientDependency.Core.Mvc
@using Clean.Core.Extensions
@using Clean.Core.ViewModels

@{
    Layout = "master.cshtml";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js");
    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contactForm.js");
}


<div class="container" style="margin-top:100px;">

    <div style="margin:0 auto; text-align:center;">
        <h1>Contact Us</h1>
        <hr />
        <p>Send us a email and we'll get back to you as soon as possible!</p>
    </div>

    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto" style="margin-top:50px;">
            @{ Html.RenderAction("RenderForm", "Contact"); }
        </div>
    </div>
</div>