@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using Umbraco.Web.Models


@{ Layout = "master.cshtml";
    var homePage = Model.AncestorOrSelf<Home>();
    var homeImages = homePage.Value<IEnumerable<IPublishedElement>>("homeImages"); }


<!--start of home page---------------------------->

@Html.Partial("~/Views/Partials/carousel.cshtml")



<div class="home__display">

    @foreach (var image in homeImages)
    {
        string linkStr = image.Value<string>("linkedPage");

        IPublishedContent page = Model.Root().Children().Where(m => m.Name == linkStr).FirstOrDefault();

        var img = image.Value<IPublishedContent>("homeImage");
        <a href="@page.Url()"><img src=@img.Url() class="img-fluid home_img" alt="Responsive image"></a>
    }
</div>
<!--end of home page---------------------------->