@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Map>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
   
}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .locations {
        display:inline-flex;
        width: fit-content;
        margin:0 21%;
        margin-top: 30px;
    }
    .location_container {
        width: 100%;
        
    }
    #info_div {
        margin-left: 80px;
    }
    .store_info {
        padding:20px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIAEJ7NYBdBAuwXT13SSzIhD06l0sFREw&callback=initMap"
        async defer></script>

<div class="location_container">
    <div class="locations">
        <div id="map-canvas" style="height: 500px; width: 500px">
        </div>
        <div id="info_div">
            <div class="store_info">
                <h4>South Melbourne Store</h4>
                <label>Address: </label>
                <p>
                    99/99 Coventry St
                    South Melbourne VIC 3205
                    Australia
                </p>
                <label>Opens: </label>
                <p>
                    9AM - 6PM Mon to Friday

                </p>

            </div>
            <div class="store_info">
                <h4>Knox Feild Store</h4>
                <label>Address: </label>
                <p>
                    425 Burwood Hwy, Wantirna South VIC 3152
                </p>
                <label>Opens: </label>
                <p>
                    10AM - 6PM Mon to Friday

                </p>
            </div>
        </div>
    </div>
</div>   
