@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Product>
@using Uniwear.core.ViewModels;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";

}
<head>
    <link href="~/css/productDisplay.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

@Html.Partial("~/Views/Partials/breadCrumb.cshtml")

<div id="section-product-display">
    <div class="container">
        @{
            DisplayViewModel viewModel = new DisplayViewModel() { productDisplay = Model };
            Html.RenderAction("RenderProduct", "DisplaySurface", viewModel);
        }
    </div>
</div>
