#address-img {
    margin-top: 20px;

}

.checkout-container {
    display: inline-flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px !important;
    font-size: 15px;
    padding: 8px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}


.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}




.col-50{
    padding: 0 16px;
}

.address-container {
   width:70%;
    padding: 5px 20px 15px 20px;
   margin:0 auto;
   margin-right:30px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #464646;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

    .btn:hover {
        background-color: #828282;
    }

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    #address-img {
        opacity: 0;
        display: none;
    }

    .checkout-container {
        width: 100%;
    }
    .address-container {
        width: 100%;
        padding: 5px 20px 15px 20px;
        margin: 0 auto !important;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
@media (max-width: 1300px) {

    #address-img {
        display:none;
        opacity: 0;
    }

    .checkout-container {
        display: block;
        width: 100%;
    }
    .address-container {
        
        width: 100%;
        padding: 5px 20px 15px 20px;
        margin: 0 auto !important;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
