body{
  background-color: #Fdfcfa!important;
}
.carousel {
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 30PX;
    margin-bottom: 40px !important;
    z-index: -1 !important;
}
.home__display{
  width: 100%;

}
.home_img{
  height: 75%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 150PX ;
}