@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<Home>();
    var carouselContents = homePage.Value<IEnumerable<IPublishedElement>>("carouselContent");
    int count = 0;
    string activeClass = "";
}

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var imageItem in carouselContents)
        {
            var img = imageItem.Value<IPublishedContent>("carouselImage");
            if (count == 0)
            {
                activeClass = "carousel-item  active";
                count++;
            }
            else
            {
                activeClass = "carousel-item";
            }

            <div class='@activeClass'>
                <img class="d-block w-100" src='@img.Url()' />
            </div>}
    </div>
</div>