@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProductCatelog>
@{
    ViewBag.Title = "Filters";
}
<head>
    <link href="~/css/filter.css" rel="stylesheet" />
</head>
<div style="width:78%; margin: auto;">
    <span style="font-size:20px;cursor:pointer; margin:inherit" onclick="openFilter()"><i class="fas fa-filter"></i> Add Filters</span>
</div>

<div id="filters" class="filters">
    <form action="/" method="post" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeFilter()">&times;</a>
        @foreach (Category category in Model.Value<IEnumerable<Category>>("containsCategory"))
        {
            string name = category.Value<string>("categoryName");
            <div>
                 <label><input type="checkbox" name="filter" value=@name class="form-check-input" />@name</label>
            </div>

        }

        <button class="btn btn-dark" type="submit">Apply filter</button>
    </form>
</div>

<script>
    function openFilter() {
        document.getElementById("filters").style.width = "250px";
    }

    function closeFilter() {
        document.getElementById("filters").style.width = "0";
    }
</script>
